body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 20px; 
}

h1 {
    color: #1212b5; 
}

blockquote {
    background-color: #cc85a7; 
    padding: 10px;
    margin: 10px 0; 
    font-style: italic; 
    font-size: 1.2em; 
}